body {
    margin: 0;
    padding: 0;
}

.container-fluid
{
    margin: 0;
    padding: 0 !important;
}

.nav{
    width: 100%;
    height: 100px;
    background-color: red;
    display: inline-block;
    position: relative;


}

.brand
{
    display: inline-block;
    position: absolute;
    left: 0;
}

.brand img
{
    height:  100%;
}

.home
{
    background-image: url("img/Abstract_gaussian_blur_gradient_1920x1200.jpg");
    width: 100%;
    height: 800px;
}
    .logo
    {
        margin: 10vh 30vw;
        margin-top: 50px;
    }
        .logo img
        {
            width: 100%;
            margin-top: 150px;
            margin-bottom: 0px;
        }

    .quote
    {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        color: #e6e6ff;
        line-height: 35px;
    }
        .quote p
        {
            font-family: Century Gothic , sans-serif;
            font-size: 28px;
            text-align: center;
        }

.aboutUs
{
    background-image: url("img/minimalistic_gaussian_blur_1920x1080.jpg");
    height: 800px;
    width: 100%;

}
    .aboutUs img
    {
        margin-top: 200px;
        margin-left: 50px;
    }

    .textAbout
    {
        width: 350px;
        height: 400px;
        margin-left: 800px;
        margin-bottom: 400px;
        font-family: Century Gothic , sans-serif;
        color: #e6e6ff;

    }
        .textAbout p
        {
           font-size: 20px;


        }
