*
{
    color: white;
}

#navbar
{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 20px 0 0;
}


.brand
{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.brand img
{
    height: 100%;
}

#home
{
    background-image: url("img/Abstract_gaussian_blur_gradient_1920x1200.jpg");
}

.logo
{
    padding-top: 20vh;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 600px;
}

#quote
{
    max-width: 600px;
    margin: 0 auto;
    color: #e6e6ff;
    line-height: 35px;
}

#quote p
{
    font-family: Century Gothic, sans-serif;
    font-size: 28px;
    text-align: center;
}

#about-us
{
    background-image: url("img/minimalistic_gaussian_blur_1920x1080.jpg");

}

#about-us-text
{
    padding-top: 150px;
    max-width: 500px;
}

#about-us-img
{
    margin: 200px 20vw;
}

#concept
{
    background-image: url("img/Abstract_gaussian_blur_gradient_1920x1200.jpg");
}

#concept-text
{
    padding-top: 150px;
    max-width: 500px;
    padding-right: 80px;
}

#concept-img
{
    margin-top: 200px;
    padding-left: 80px;
}

/*
#text-about
{
    width: 350px;
    height: 400px;
    margin-left: 800px;
    margin-bottom: 600px;
    font-family: Century Gothic, sans-serif;
    color: #e6e6ff;
    border-top: 2px solid white;
    box-sizing: content-box;

}

#text-about p
{
    font-size: 20px;

}

#text-about h1
{
    margin-top: 5px;
}*/
